<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.moncv.com</title>
</head>
<body>
    <!-------- information albin---------------->
<div>
    <blockquote>
        <center><h1>Curiculum Vital</h1></center>
        <h3>BAKUMBA BONTE ALBIN</h3>
        <h5>Née le 21/01/ 2000 à Kinshasa <br> 
            Nationalité : Congolaise <br> 
            Etat-civil : Célibataire <br>
            Nationalité : Congolaise <br>
            Etat-civil : Célibataire <br>
            Tél. : +243 (0)81 439 25 96 ; +243 (0)90 757 98 98 <br>
            Email: <a href="mailto:E-mail : bakumbaalbin@gmail.com">bakumbaalbin@gmail.com</a> <br>
            github: <a href="http://github.com/albinbakumba" target="_blank">http://github.com/albinbakumba</a>
        </h5>
    </blockquote>
</div>


<!-----------partie etude faites---------->
<blockquote> <blockquote> <blockquote>  <h3>ETUDES FAITES </h3></blockquote> </blockquote> </blockquote>

<div>
    <blockquote>
        <blockquote> 
            <blockquote> 
                <blockquote>
            <h4>
                <ol>
                    <li>Troisième Graduat, 2020-2021 (encours) ; Faculté de Science, Département de mathématique 
                        <br> et informatique, Université de Kinshasa. 
                    </li>

                    <li>Deuxième Graduat, 2019-2020; Faculté de Science, Département de mathématique et informatique,
                        <br> Université de Kinshasa. 
                    </li>
                    
                    <li>Premier Graduat, 2018-2019 ; Faculté de Science, Département de mathématique et informatique, 
                        <br> Université de Kinshasa. 
                    </li>
                    
                    <li>Diplôme d’Etat des humanités scientifiques, option : Math-Physique, Collège Pierre Nengende, 
                        <br> Kinshasa, R.D. Congo, 2017. (Baccalauréat Math-physique)
                    </li>
                </ol>
            </h4>
        </blockquote>
            </blockquote> 
        </blockquote> 
    </blockquote>
</div>



<!-----------partie competences---------->
<blockquote> <blockquote> <blockquote>  <h3>CHAMPS DE COMPETENCES </h3></blockquote> </blockquote> </blockquote>
     
<div>
    <blockquote>
        <blockquote> 
            <blockquote> 
                <blockquote>
            <h4>
                <ul>
                    <li> Analiste programmeur
                        <ul>
                            <li>Langage utilisé : C, VB, C# et  Dart</li>
                        </ul>
                    </li>

                    <li> Développeur multi-plateforme
                        <ul>
                            <li>Langage: Dart</li>
                            <li>Framework: Flutter</li>
                        </ul>
                    </li>
                </ul>
            </h4>
        </blockquote>
            </blockquote> 
        </blockquote> 
    </blockquote>
</div>



<!------------competences linguistique---------------> 
<blockquote> <blockquote> <blockquote>  <h3>CONNAISSANCES LINGUISTIQUES</h3></blockquote> </blockquote> </blockquote>


<div>
    <blockquote>
        <blockquote> 
            <blockquote> 
                <blockquote>
            <h4>
                <ul>
                    <li> Français : Excellente </li>
                    <li> Lingala : Excellente </li>
                    <li> Anglais : bonne </li>
                    <li> Kikongo : bonne </li>
                </ul>
            </h4>
        </blockquote>
            </blockquote> 
        </blockquote> 
    </blockquote>
</div>



<!------------competences realisation---------------> 
<blockquote> <blockquote> <blockquote><h3>realisation</h3></blockquote> </blockquote> </blockquote>
<div>
    <blockquote>
        <blockquote> 
            <blockquote> 
                <blockquote>
            <h4>
                <ul>
                    <li> Developpement de bout en bout d'une application mobile, <br>
                         et deployement de cette derniere sur play Store
                         <ul>
                             <li>Lien play store: <a href="http://play.google.com/store/apps/details?id=apk.quiz.alibali" target="_blank">http://play.google.com/store/apps/details?id=apk.quiz.alibali</a></li>
                         </ul>
                    </li>

                </ul>
            </h4>
        </blockquote>
            </blockquote> 
        </blockquote> 
    </blockquote>
</div>
</body>
</html>