<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.moncv.com</title>
</head>
<body>
    <!-------- information albin---------------->
<div>
    <blockquote>
        <center><h1>Curiculum Vital</h1></center>
        <h3>BAKUMBA BONTE ALBIN</h3>
        <h5>Née le 21/01/ 2000 à Kinshasa <br> 
            Nationalité : Congolaise <br> 
            Etat-civil : Célibataire <br>
            Nationalité : Congolaise <br>
            Etat-civil : Célibataire <br>
            Tél. : +243 (0)81 439 25 96 ; +243 (0)90 757 98 98 <br>
            Email: <a href="mailto:E-mail : bakumbaalbin@gmail.com">bakumbaalbin@gmail.com</a> <br>
            github: <a href="http://github.com/albinbakumba" target="_blank">http://github.com/albinbakumba</a>
        </h5>
    </blockquote>
</div>
</body>
</html>